<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
<!-- Header/Nav -->
  <nav class="navBar">
    <div class="navLeft">
      <a href="/" class="homeLink">Home</a>
    </div>
    <div class="navRight">
      <a href="/login" class="loginLink">Login</a>
    </div>
  </nav>

  <section class="banner">
    <h1 class="bannerTitile">Ready to Move?</h1>
    <p class="bannerSubtitle">Find your next home in our extensive database of properties for sale and rent</p>
    <button class="bannerButton">Learn more about Us</button>
  </section>

{{{ body }}}  

</body>
  <footer>
    &copy; 2024 Real Estate Listings. All rights reserved.
  </footer>
</html>
