  <main class="mainDash">
    <div class="welcomeCard">
      <h2>Welcome to your Dashboard, Admin</h2>
      <br>
      <p>This is where you will see your person content when logging in.</p>
      <br>
      <ul>
        <li><a href="#">View your properties</a></li>
        <li><a href="#">Manage your account</a></li>
        <li><a href="#">Update your settings</a></li>
      </ul>
    </div>
  </main>